@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>
            Party! On Garth!
        </title>
    </head>
    <body>
        <div>
            We're gonna party like it's 2099!<br />
            <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4">Party on Garth!</a>
        </div>
    </body>
</html>